In [23]:
import pandas as pd

In [28]:
def file_with_station(file,station):

    # Read file as text
    with open(file, "r", encoding="utf-8") as f:
        lines = f.readlines()

    # Find the row number where the data starts i.e. the row that contain 'date' in its first column
    header_row = None

    for i, line in enumerate(lines):
        # split on comma and strip spaces
        first_cell = line.split(",")[0].strip().lower()
        if first_cell == "date":
            header_row = i
            break
    
    # Read file as csv, delete uneccessary rows
    df = pd.read_csv(file, skiprows=header_row,low_memory=False)
    # modify the format of 'date'
    df['date'] = pd.to_datetime(df['date'], format='%d-%b-%Y %H:%M')
    # Add a column which takes the station name as value
    df["station"]= station
    # Add a column that contains only date details
    df['dateonly']= df['date'].dt.date
    # Add a column that contains only month-year
    df['yearmonth'] = pd.to_datetime(df['date']).dt.strftime('%Y-%m')
    # Add a column that contains only month
    df['month'] = pd.to_datetime(df['date']).dt.strftime('%m')
    # Save as a new file in folder stationdata
    df.to_csv(f"stationdata/{station}.csv")
    print(f"The file {station}.csv is now created.")
    return

In [29]:
file_with_station("data/hly275.csv","MACE HEAD")

The file MACE HEAD.csv is now created.

In [31]:
df = pd.read_csv("stationdata/MACE HEAD.csv")
df.head()

/tmp/ipykernel_1650/1611669869.py:1: DtypeWarning: Columns (3,5,7,8,9,10,11,13,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("stationdata/MACE HEAD.csv")

,Unnamed: 0,date,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,msl,ind.3,wdsp,ind.4,wddir,station,dateonly,yearmonth,month
0,0,2003-08-13 01:00:00,-1,,4,,4,,,,,,7,,7,,MACE HEAD,2003-08-13,2003-08,8
1,1,2003-08-13 02:00:00,-1,,4,,4,,,,,,7,,7,,MACE HEAD,2003-08-13,2003-08,8
2,2,2003-08-13 03:00:00,-1,,4,,4,,,,,,7,,7,,MACE HEAD,2003-08-13,2003-08,8
3,3,2003-08-13 04:00:00,-1,,4,,4,,,,,,7,,7,,MACE HEAD,2003-08-13,2003-08,8
4,4,2003-08-13 05:00:00,-1,,4,,4,,,,,,7,,7,,MACE HEAD,2003-08-13,2003-08,8

In [32]:
# change the type on 'wdsp' to numeric, the missing value will be turned into NaN with parameter errors="coerce"
df["wdsp"] = pd.to_numeric(df["wdsp"], errors="coerce")

# count the number of missing values
df["wdsp"].isna().sum()

np.int64(24)

In [33]:
# Set 'date' as index as interpolate based on actual time differences between index values
df = df.set_index('date')

# Interpolate missing windspeed (linear is best for meteorological data) -- I use AI to help me with this.
df['wdsp'] = df['wdsp'].interpolate(method='time', limit_direction='both', limit_area='inside')

# count the number of missing values
#df["wdsp"].isna().sum()

KeyError: "None of ['date'] are in the columns"

In [ ]:
file_with_station("data/hly275.csv","MACE HEAD")
file_with_station("data/hly375.csv","OAK PARK")
file_with_station("data/hly518.csv","SHANNON AIRPORT")
file_with_station("data/hly532.csv","DUBLIN AIRPORT")
file_with_station("data/hly575.csv","MOORE PARK")
file_with_station("data/hly675.csv","BALLYHAISE")
file_with_station("data/hly775.csv","SHERKIN ISLAND")
file_with_station("data/hly875.csv","MULLINGAR")
file_with_station("data/hly1075.csv","ROCHES POINT")
file_with_station("data/hly1175.csv","NEWPORT")
file_with_station("data/hly1375.csv","DUNSANY")
file_with_station("data/hly1475.csv","GURTEEN")
file_with_station("data/hly1575.csv","MALIN HEAD")
file_with_station("data/hly1775.csv","JOHNSTOWN CASTLE 2")
file_with_station("data/hly1875.csv","ATHENRY")
file_with_station("data/hly1975.csv","MT DILLON")
file_with_station("data/hly2075.csv","FINNER")
file_with_station("data/hly2175.csv","CLAREMORRIS")
file_with_station("data/hly2275.csv","VALENTIA OBSERVATORY")
file_with_station("data/hly2375.csv","BELMULLET")
file_with_station("data/hly3723.csv","CASEMENT")
file_with_station("data/hly3904.csv","CORK AIRPORT")
file_with_station("data/hly4935.csv","KNOCK AIRPORT")

The file Pheonix_Park.csv is now created.